<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./logo-sample.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Smiling</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light navbar-color">
            <div class="d-flex align-items-center ms-4">
                <a class="navbar-brand" href="#">
                    <img class="rounded-circle" src="./logo-sample.png" alt="Logo Sample" style="height: 50px" />
                </a>
                <span class="brand-font mx-0">
                    <h1>Smiling</h1>
                </span>
            </div>
            <button class="navbar-toggler border-0 burger-button">
                <span class="text-white burger-text m-0" id="menu">☰</span>
            </button>
            <div class="collapse navbar-collapse justify-content-end mx-4" id="navbarNav">
                <ul class="navbar-nav navlink-font">
                    <li class="nav-item">
                        <a class="nav-link mr2-1" href="#">Beranda</a>
                    </li>
                    <li class="nav-item mr2-1">
                        <a class="nav-link" href="#/favorit">Favorit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tentang Kami</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="drawer" id="drawer">
            <ul class="drawer-nav navlink-font">
                <li class="nav-item border-bottom border-1">
                    <a class="nav-link" href="#">Beranda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#/favorit">Favorit</a>
                </li>
                <li class="nav-item border-top border-1">
                    <a class="nav-link" href="#">Tentang Kami</a>
                </li>
            </ul>
        </div>
    </header>
    <main id="main-content" class="container-fluid bg-main m-0 p-0">

    </main>
    <footer class="footer">
        <div class="container d-flex justify-content-center">
            <p class="footer-text">
                <span class="footer-copyright">©</span>
                <span class="footer-year">2023</span>
                <span class="footer-brand">Smiling</span> ||
                <span class="footer-tagline">Stories for Family Bonding</span>
            </p>
        </div>
    </footer>
</body>

</html>