<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smiling</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light navbar-color">
            <div class="d-flex align-items-center ml2-1">
                <a class="navbar-brand" href="#">
                    <img class="rounded-circle ml-2 mr-2" src="../scripts/global/logo.png" alt="Logo Sample" height="30"
                        style="height: 50px;">
                </a>
                <span class="brand-font mx-0">Smiling</span>
            </div>
            <button class="navbar-toggler border-0 mr2-1 burger-button">
                <span class="text-white burger-text m-0" id="menu">☰</span>
            </button>
            <div class="collapse navbar-collapse justify-content-end mx-4" id="navbarNav">
                <ul class="navbar-nav navlink-font">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Beranda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Favorit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tentang Kami</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="drawer" id="drawer">
            <ul class="drawer-nav navlink-font">
                <li class="nav-item border-bottom border-1">
                    <a class="nav-link" href="#">Beranda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Favorit</a>
                </li>
                <li class="nav-item border-top border-1">
                    <a class="nav-link" href="#">Tentang Kami</a>
                </li>
            </ul>
        </div>
    </header>
    <!-- height di set ke 100% untuk menguji apakah drawer akan menutup jika main di klik -->
    <main id="main-content" style="height: 100%;"></main>
</body>

</html>