@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Merriweather:wght@700&family=Pacifico&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #fffef3;
  color: rgb(0, 0, 0);
  color: #3f3f3f;
}

main {
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 32px;
  margin: 0;
}

h2 {
  font-family: "Merriweather", serif;
  text-align: center;
  font-size: 32px;
}

h3 {
  font-family: "Comic Neue", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

p,
td {
  font-family: "Comic Neue", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.navbar-color {
  background-color: #ffe76a;
}

.brand-font {
  margin: 0 auto;
}

.navlink-font {
  font-family: "Comic Neue", cursive;
  font-size: 18px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
}

.navlink-font a:hover {
  text-decoration: underline;
}

.debug {
  border: 1px solid black;
  background-color: red;
}

.ml2-1 {
  margin-left: 1rem;
}

.mr2-1 {
  margin-right: 1rem;
}

.burger-text {
  color: #3f3f3f !important;
  font-size: 30px;
  padding: 10px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.drawer {
  position: absolute;
  width: 100%;
  height: 213px;
  background-color: #ffffff;
  z-index: 999;
  -webkit-transform: translate(-3300px, 0);
  transform: translate(-3300px, 0);
  transition: transform 0.6s ease-in-out;
  text-align: center;
  padding: 0;
  display: none;
}

.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.drawer.open {
  left: 0;
}

.drawer-nav {
  padding: 0;
}

.drawer-nav .nav-item {
  box-sizing: border-box;
  padding: 20px;
}

.hero {
  width: 100%;
  height: 43rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero__img {
  width: 100%;
  height: 100%;
  display: flex;
}

.hero__img img {
  object-fit: cover;
  width: 100%;
  height: 43rem;
}

.hero__content {
  width: 85%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  padding: 2rem;
  border-radius: 2rem;
  color: var(--green);
  top: 350px;
  margin: auto;
  position: absolute;
}

.hero__title {
  color: #fff;
  font-weight: 500;
  font-size: 65px;
}

.hero__title span:first-child {
  color: var(--green);
}

.hero__title span:last-child {
  color: var(--orange);
}

.hero__description {
  color: #fff;
  margin-top: 16px;
  font-size: 30px;
  font-weight: 300;
  font-family: "Comic Neue", cursive;
}

img#img-item {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: center;
  transition: 0.3s all ease-in-out;
}

img#img-item:hover {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: center;
  transform: scale(1.1);
}

#divImgCard {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.shadow-card {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.14);
}

.rad-card {
  border-radius: 20px;
}

#body-card {
  height: 150px;
  margin-bottom: 10px;
}

#card-container {
  padding: 10px;
}

.card-title a{
    text-decoration: none;
    color: #3f3f3f;
}

.card-title a:hover{
    text-decoration: underline;
}

audio {
  width: 100%;
}

audio::-webkit-media-controls-panel {
  background-color: #ffffff;
}

.story-picture {
  max-height: 360px;
}

.table td {
  padding: 0 0 20px 0;
}

.table tr td:first-child {
  width: fit-content;
  padding-right: 10px;
}

.table tr td:last-child {
  padding-left: 5%;
}

.table td a {
  color: #3f3f3f;
}

.table td a:hover {
  font-weight: 700;
}

.player {
  background-color: #fff;
  border: 3px solid #999999;
  border-radius: 20px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.14);
}

.footer {
  padding: 10px;
  background-color: #ffe76a;
}

.footer-text {
  padding: 30px;
  background-color: #ffe76a;
  margin-bottom: 0;
  font-size: 20px;
}

.footer-year {
  font-family: "Comic Neue", cursive;
}

.footer-brand {
  font-family: "Pacifico", cursive;
}

.footer-tagline {
  font-family: "Comic Neue", cursive;
}
